body {
  height: 100vh;
  display: flex;
  flex-direction: column;
  background: linear-gradient(121.52deg, #1AEBEB -19.72%, #F111C0 122.14%); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.game-container {
  height: 60%;
  width: 40%;
  border: solid black;
  border-radius: 10px;
  box-shadow: 5px 7px 13px rgb(64, 52, 68), -5px -7px 10px rgb(104, 55, 119) ;
  position: relative;
  left: 30%;
  top:10%;
  background: #16222A;  /* fallback for old browsers */
  background: -webkit-linear-gradient(to right, #3A6073, #16222A);  /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(to right, #3A6073, #16222A); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}
.hide
{
  display: none;
}
.strgame
{
  height:50%;
  width:50%;
  font-size:20px;
  margin:20% 0% 20% 22%;
  padding: 5% 0% 0% 5%; 
  border:solid black;
  background-color:#16222A;
  color:white;
}
.innerbox
{
  height:50%;
  width:70%;
  color:white;
  position :relative;
  left:20%;
  top:20%;
}
.hangman
{
  height:30%;
  width:20%;
  position: absolute;
  top:5%;
  left:80%;
}
#id
{
  width: 10%;
}